<div class="row">

    <div class="col-sm-2"></div>

    <div class="col-sm-8">

        <div class="container-fluid" id="upload-form-container"><!-- Upload Container -->

            <h1>Upload Meal</h1>

                <form id="mealUploadForm">
                    <fieldset>

                        <div class="form-group" id="general-info-div">
                            <fieldset>

                                <legend>General Information</legend>

                                <div id="name-genre-form" class="row">

                                    <div class="col-md-5">
                                        <label> Name </label><input class="form-control" type="text" id="mealName">
                                    </div>
                                    <div class="col-md-5">
                                        <label> Category </label><input class="form-control" type="text" id="genre">
                                    </div>
                                    <div class="col-md-2">
                                        <label> Prep Time<span id="star">*</span> </label><input class="form-control" type="number" id="prepTime">
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <label> Description </label><textarea class="form-control" type="textbox" id="description"  maxlength="255"" placeholder="Enter instructions here..."></textarea>
                                        <input type="hidden" value="1" id="username_id">
                                        <input type="hidden" value="1" id="restaurant_id">
                                    </div>
                                    <div class="col-md-6">
                                                
                                        <label> Image URL </label><input class="form-control" type="text" id="image" placeholder="http://">
                                        <br>
                                        <p id="minutes-message">*Enter prep time in minutes</p>
                                    </div>
                                </div>

                            </fieldset>
                        </div>

                        <div class="form-group">
                            <fieldset>
                                <legend> Add Ingredients </legend>

                                <div class="row">

                                    <div class="col-md-5">
                                        <input class="form-control" type="text" id="ingredientName" placeholder="Ingredient Name">
                                    </div>
                                    <div class="col-md-5">
                                        <input class="form-control" type="text" id="ingredientType" placeholder="Ingredient Type">
                                    </div>
                                    <div class="col-md-2">
                                        <input class="form-control" type="button" value="Add" id="submitIngredient">
                                    </div>
                                </div>

                            </fieldset>
                        </div>

                        <br>

                        <div class="form-group"> 
                            <fieldset>
                                <label>Select from Existing Ingredients <span id="key-press-instruction">(Hold CMD/CTRL)</span></label>

                                <div class="row">
                                    <div class="col-md-6">
                                        <select class="form-control" multiple id="ingredientsSelect">
                                    </div>
                                </div>

                                </select>
                            </fieldset>
                        </div>
                                 
                        <br>

                        <div style="text-align: center; margin: auto;">
                                <input class="btn btn-primary" type="button" value="Submit" id="submitNewMeal" style="font-size: 18px; height: 50px; width: 100px; center-align">
                        </div>
                    </fieldset>

                </form>
            <br>
        </div><!-- Upload Container End -->

    </div><!-- End Column -->

    <div class="col-sm-2"></div>

</div><!-- End Row -->

<script type="text/javascript" src="js/upload.js"></script>



