<h1>SmartChoice: Upload Meal</h1>
<form id="mealUploadForm">
<fieldset>
    <legend>Share your meal!</legend>
    <fieldset>
        <legend>General Information</legend>
  <label>Meal Name: </label><input type="text" id="mealName">
   <label> Genre: </label><input type="text" id="genre"><br><br>
       <label> Prep Time (minutes): </label><input type="number" id="prepTime">
        <label> Image: </label><input type="text" id="image">
        <br>
    </fieldset>
    <br>
    <fieldset>
        <legend> Description </legend> <textarea type="textbox" id="description"  maxlength="255" style="height: 100px; width: 400px;"></textarea>
            <input type="hidden" value="1" id="username_id">
            <input type="hidden" value="1" id="restaurant_id">
        </fieldset>
    <br>
    <fieldset>
        <legend> Add Ingredients </legend>
        <label>Add New Ingredient:</label>
                <input type="text" id="ingredientName">
        <label>Type:</label> 
                <input type="text" id="ingredientType">
                <input type="button" value="Add New Ingredient" id="submitIngredient">
        <br>
        <br>
        <label>Select from Existing Ingredients (use CMD or CTRL):</label>
        <br>

        <select multiple="multiple" style="width: 150px" id="ingredientsSelect">

        </select>
    </fieldset>
    <br>
    <div style="text-align: center; margin: auto;">
            <input type="button" value="Submit" id="submitNewMeal" style="font-size: 18px; height: 50px; width: 100px; center-align">
        </div>
    </fieldset>

</form>
<br>
    <script type="text/javascript" src="js/upload.js"></script>
